*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
      /* NAVBAAR START */
#header{
    width: 100%;
    background-color: transparent !important;
}
#nav-div{
width: 75%;
background-color: transparent !important;
background: #ffffff !important;
box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
border-radius: 5px !important;
padding: 5px 8px !important;
}
#nav-div a {
    color: blue !important;
}
#button{
    border: none !important;
    outline:  none !important;
    background-color:  transparent !important;
    background-color:  #5b8dfd !important;
    color:  white !important;
    width: auto !important;
    margin: 0 !important;
}
.signoutbtn{
   border: none !important;
    outline:  none !important;
    background-color:  transparent !important;
    background-color:  #5b8dfd !important;
    color:  white !important;
    width: auto !important;
    margin: 0 !important;
}
   /* NAVBAAR END */

#parent{
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
#child{
  background: #ffffff !important;
box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    height: auto !important;
    display: flex !important;
    width: 70% !important;
    border-radius: 35px ;

}
h1{
    font-size: 300%;
    font-weight: bold;
}
#form-div{
width: 40% !important;
margin-top: 1% !important;
height: 100 !important;
padding-left: 15px;
}
#form-valid{
    border: none !important;
    outline:  none !important;
    width: 100% !important;
  
}
#login-form{
     border: none !important;
    outline:  none !important;
    width: 100% !important;
}

button{
  border: none !important;
    outline:  none !important;
    background-color:  transparent !important;
    background-color:   #5b8dfd !important;
    color:  white !important;
    padding: 10px 12px !important;
    width: 50% !important;
    margin-bottom: 8% !important;
}
#next-div{
width: 50% !important;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  border-radius: 100px 25px 25px 180px;
  background: #5b8dfd;
  color: white;

}


/* //home page stylling */
#Home-page{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
    box-shadow: 0 8px 25px black;
       
}
#Home{
    width: 100%;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: #ffffff;
box-shadow: 0 5px 20px black;
}
.title span {
  display: inline-block;
  transition: 0.3s ease;
}

.title span:hover {
  transform: translateY(-15px) rotate(-3deg);
  color:red;
}

/* di-fferent colors */
.title span:nth-child(1):hover {
  color: #6c63ff;
}

.title span:nth-child(2):hover {
  color: #00bcd4;
}

.title span:nth-child(3):hover {
  color: #22c55e;
}

.title span:nth-child(4):hover {
  color: #f59e0b;
}

.title span:nth-child(5):hover {
  color: #ec4899;
}

.title span:nth-child(6):hover {
  color: #8b5cf6;
}
/* enrolledbtn */
#enrolBtn{
   border: none !important;
    outline:  none !important;
    background-color:  transparent !important;
    background-color:  #5b8dfd !important;
    color:  white !important;
    width: auto !important;
    margin: 0 !important;
}
#enroled{
  display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
#print{
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  gap: 15px;
  margin-top: 3%;
}
.card{
  border: 1px solid blue !important;
  display: flex !important;
   border: none !important;
 border-radius: 10px !important;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px) !important;
        box-shadow: 0 7px 8px 0  #4749734d;   
        transition: all 1s ease;
}

.card:hover{
    transform: translateY(-5px);
}


@media screen and (max-width:480px) {
  #child{
    width: 100% !important;
        border-radius: 10px ;
}
h1{
    font-size: 200%;
    font-weight: bold;
}
  
 #form-div{
width: 50% !important;
padding-right: 1% !important;
} 
#next-div{
width: 50% !important;
  text-align: center !important;
  border-radius: 100px;
}
button{
  width: auto !important;
   padding: 0px !important;
}
}

@media screen and  (max-width:576px) {
   #child{
    width: auto !important;
        border-radius: 10px ;
}
h1{
    font-size: 200%;
    font-weight: bold;
}
 #form-div{
width: auto !important;
padding-right: 1% !important;
} 
#next-div{
width: auto !important;
  text-align: center !important;
  border-radius: 100px !important;
} 
#nav-div{
width: 100% !important;
}
#enrolBtn{
width: auto !important;
}
#Home-page{
  font-size: 50px;
  width: auto;
}
button{
  width: auto !important;
   padding: 8px !important;
}
}

@media screen and (min-width:577px) and (max-width:768px) {
   #child{
    width: 100% !important;
        border-radius: 10px ;
}
h1{
    font-size: 200%;
    font-weight: bold;
}
  
 #form-div{
width: 50% !important;
padding-right: 1% !important;
} 
#next-div{
width: 50% !important;
  text-align: center !important;
  border-radius: 100px !important;
} 
#Home-page{
  font-size: 50px;
  width: auto;
}
button{
  width: auto !important;
   padding: 8px !important;
}
}

@media screen and (min-width:769px) and (max-width:880px) {
   #child{
    width: 80% !important;
        border-radius: 10px ;
}
h1{
    font-size: 200%;
    font-weight: bold;
}
 #form-div{
width: 45% !important;
padding-right: 1% !important;
} 
#next-div{
width: 50% !important;
  text-align: center !important;
    border-radius: 100px 25px 25px 180px !important;
}
#Home-page{
  font-size: 50px;
  width: auto;
}
button{
  width: auto !important;
   padding: 8px !important;
}
}

@media screen and (min-width:880px) and (max-width:990px) {
  button{
  width: auto !important;
   padding: 8px !important;
}
}