*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
      /* NAVBAAR START */
#header{
    width: 100%;
    background-color: transparent !important;
}
#nav-div{
width: 75%;
background-color: transparent !important;
background: #ffffff !important;
box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
border-radius: 5px !important;
padding: 5px 8px !important;
}
#nav-div a {
    color: blue !important;
}
#button{
    border: none !important;
    outline:  none !important;
    background-color:  transparent !important;
    background-color:  #5b8dfd !important;
    color:  white !important;
    width: auto !important;
    margin: 0 !important;
}
   /* NAVBAAR END */

#parent{
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
#child{
  background: #ffffff !important;
box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    height: auto !important;
    display: flex !important;
    width: 70% !important;
    border-radius: 5% ;

}
h1{
    font-size: 300%;
    font-weight: bold;
}
#form-div{
width: 40% !important;
margin-top: 1% !important;
height: 100 !important;
padding-left: 15px;
}
#form-valid{
    border: none !important;
    outline:  none !important;
    width: 100% !important;
  
}

button{
  border: none !important;
    outline:  none !important;
    background-color:  transparent !important;
    background-color:   #5b8dfd !important;
    color:  white !important;
    padding: 10px 12px !important;
    width: 50% !important;
    margin-bottom: 8% !important;
}
#next-div{
width: 50% !important;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  border-radius: 100px 0 0 180px;
  background: #5b8dfd;
  color: white;

}